@using GrainManage.Web.Resources
@model GrainManage.Web.Models.Contact.OutputSearch

<div class="table-responsive">
    <table class="table table-bordered table-hover" data-total="@Model.Total">
        <thead>
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>出生日期</th>
                <th>手机</th>
                <th>电话</th>
                <th>QQ</th>
                <th>邮箱</th>
                <th>区域</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.Contacts)
            {
                string date = contact.BirthDate.HasValue ? contact.BirthDate.Value.ToString(GlobalResx.DateFormat) : string.Empty;
                <tr title="@contact.Address">
                    <td>@contact.Id</td>
                    <td>@contact.ContactName</td>
                    <td>@contact.Gender</td>
                    <td>@date</td>
                    <td>@contact.CellPhone</td>
                    <td>@contact.Telephone</td>
                    <td>@contact.QQ</td>
                    <td>@contact.Email</td>
                    <td>@contact.Area</td>
                    <td>
                        <a class="edit" href="/Contact/EditContact?contactID=@contact.Id">编辑</a>
                        <span>&nbsp;&nbsp;</span>
                        <a class="trade" href="/Trade/NewTrade?contactID=@contact.Id">交易</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
