@using GrainManage.Web
@{
    Layout = "~/Views/Shared/_WeUILayout.cshtml";
}
<div id="app" class="weui-tab">
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active" style="top:0;">
            @await Html.PartialAsync("_Tab1")
        </div>
        <div id="tab2" class="weui-tab__bd-item">
            @await Html.PartialAsync("_Tab2")
        </div>
        <div id="tab3" class="weui-tab__bd-item">
            @await Html.PartialAsync("_Tab3")
        </div>
        <div id="tab4" class="weui-tab__bd-item">
            @await Html.PartialAsync("_Tab4")
        </div>
    </div>
    <div class="weui-tabbar">
        <a href="#tab1" class="weui-tabbar__item weui-bar__item--on">
            @*<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>*@
            <div class="weui-tabbar__icon">
                <img src="http://jqweui.com/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui-tabbar__label">浏览</p>
        </a>
        <a href="#tab2" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="http://jqweui.com/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui-tabbar__label">我的订单</p>
        </a>
        <a href="#tab3" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="http://jqweui.com/images/icon_nav_article.png" alt="">
            </div>
            <p class="weui-tabbar__label">统计</p>
        </a>
        <a href="#tab4" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="http://jqweui.com/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui-tabbar__label">设置</p>
        </a>
    </div>
    @await Html.PartialAsync("_ProductList")
    @await Html.PartialAsync("_CompanyPreview")
</div>

@section FooterSection{
    <script>
        var url = {
            weixin_index: '@UrlVar.Weixin_Index',
            order_new: '@UrlVar.Order_New',
            img_base: '@GrainManage.Common.AppConfig.GetValue("ImageServerPath")' + "/company/logo/",
            sign_in: '@UrlVar.User_SignIn',
            test: '@UrlVar.Test_Index',
            simple_info: '@UrlVar.User_SimpleInfo',
            order_count: '@UrlVar.Order_GetOrderCount',
            oauth:'@UrlVar.OAuth2_Index'
        };
    </script>
    <script src="~/js/Weixin/signin.js"></script>
    <script src="~/js/Crypto/base64.js"></script>
    <script src="~/js/Crypto/sha1.js"></script>
    <script src="~/js/components/mixin.js"></script>
    <script src="~/js/Weixin/Index.js"></script>
}