@using GrainManage.Web
@using GrainManage.Web.Common
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@GlobalResx.SysName</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/Shared/common-tool.js"></script>
    <script src="~/Scripts/components/pager.js"></script>
    @RenderSection("HeaderSection", false)
</head>
<body>
    <div class="container" style="margin-top:20px;">
        <div class="row">
            <div class="col-lg-12 ">
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                            <span class="sr-only">切换导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@HttpUtil.GetUrl("/Home/Index")">首页</a>

                    </div>
                    <div class="collapse navbar-collapse " id="example-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a class="btn btn-lg" href='@HttpUtil.GetUrl("/Price/Index")'>价格</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle btn btn-lg" data-toggle="dropdown">联系人<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href='@HttpUtil.GetUrl("/Contact/Index")'>查看列表</a></li>
                                    <li><a href='@HttpUtil.GetUrl("/Contact/NewContact")'>新增联系人</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="btn btn-lg" href='@HttpUtil.GetUrl("/Order/Index")'>我要卖粮</a>
                            </li>
                            <li>
                                <a class="btn btn-lg" href='@HttpUtil.GetUrl("/Trade/Index")'>收购</a>
                            </li>
                            <li>
                                <a class="btn btn-lg" href='@HttpUtil.GetUrl("/Trade/Index")'>销售</a>
                            </li>
                            <li>
                                <a class="btn btn-lg" href='@HttpUtil.GetUrl("/Trade/Index")'>零售</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle btn btn-lg" data-toggle="dropdown">个人空间<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href='@HttpUtil.GetUrl("/Account/ChangePassword")'>更改密码</a></li>
                                    <li><a href='@HttpUtil.GetUrl("/Account/SignOut")'>注销</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav pull-right hidden-xs hidden-sm">
                            <li class="dropdown">
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <span class="badge btn" style="margin-top:8px;">@CookieUtil.GetCookie(GlobalVar.CookieName, GlobalVar.UserName)</span>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    @RenderBody()
    @RenderSection("FooterSection", false)
</body>
</html>
