@using GrainManage.Web
@model GrainManage.Web.Models.UserInfo
@{
    ViewBag.Title = "价格列表";
}
<div class="container" id="priceInfo">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-pane fade in active">
                <div class="form-inline" role="form">
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label hidden-xs hidden-sm">产品名称：</label>
                        <input type="text" class="form-control" v-model="search.ProductName" placeholder="请输入产品名称" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <select v-model="search.Status" class="form-control">
                            <option value="null">请选择价格类型</option>
                            <option value="0">收购</option>
                            <option value="1">出售</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-block" v-on:click="getData(search.PageIndex=0)">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <caption style="color:red;font-weight:bolder;">
                        @if (UrlVar.Has(Model.Level, UrlVar.Price_New, Model.Urls))
                        {
                            <button type="button" class="btn btn-success btn-sm" v-on:click="showAdd"><span class="glyphicon glyphicon-plus"></span> 添加新价格</button>
                        }
                    </caption>
                    <thead>
                        <tr>
                            <th>产品名称</th>
                            <th>价格</th>
                            <th>价格类型</th>
                            <th>备注</th>
                            <th>创建时间</th>
                            <th>创建人</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody v-cloak>
                        <tr v-for="item in list">
                            <td>{{item.ProductName}}</td>
                            <td>{{item.Price.toFixed(2)}}</td>
                            <td>{{item.PriceType==1?'出售':'收购'}}</td>
                            <td>{{item.Remark}}</td>
                            <td>{{item.CreatedAt|formatTime}}</td>
                            <td>{{item.Creator}}</td>
                            <td>
                                @if (UrlVar.Has(Model.Level, UrlVar.Product_Edit, Model.Urls))
                                {
                                    <a style="cursor:pointer" v-if="item.CanModify" v-on:click="showEdit(item)">编辑</a>
                                }
                                @if (UrlVar.Has(Model.Level, UrlVar.Product_Delete, Model.Urls))
                                {
                                    <a style="cursor:pointer" v-on:click="showDelete(item)">删除</a>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <pager v-on:reload="getData" v-bind:total="total" v-bind:page-index.sync="search.PageIndex" v-bind:page-size.sync="search.PageSize"></pager>
        </div>
    </div>
    @if (UrlVar.Has(Model.Level, UrlVar.Product_Edit, Model.Urls))
    {
        @Html.Partial("_PriceDetail")
    }
    @if (UrlVar.Has(Model.Level, UrlVar.Product_New, Model.Urls))
    {
        @Html.Partial("_PriceAdd")
    }
    <modal-dialog title="删除价格" id="priceDeleteModal" v-bind:msg="msg">
        <div slot="footer" style="text-align:center;">
            <button class="btn btn-danger" v-on:click.stop.prevent="deleteItem" style="margin-right:20px;">是</button>
            <button class="btn btn-info" data-dismiss="modal" style="margin-left:20px;">否</button>
        </div>
    </modal-dialog>
    <modal-dialog v-bind:title="AlertTitle" v-bind:msg="msg"></modal-dialog>
</div>
<script>
    $(function () {
        new Vue({
            el: "#priceInfo",
            data: {
                msg: '',
                total: 0,
                tmpPwd: '',
                list: [],
                productList: [],
                search: { ProductName: '', ProductType: null, Status: null, PageIndex: 0, PageSize: 10 },
                frm: {
                    Id: 0,
                    ProductId:0,
                    ProductName: '',
                    Price:0,
                    PriceType: 0,
                    Remark:''
                },
                IsDisabled: false,
                isFirstTime: true,
                currentItem: {},
                AlertTitle: '',
                PanelTitle: ''
            },
            methods: {
                getData: function () {
                    $.post('@UrlVar.Price_Index', this.search).always(function (result, status) {
                        this.list = result.data;
                        this.total = result.total;
                        if (result.code != 1 && !this.isFirstTime) {
                            this.showAlert(result.msg);
                        }
                        this.isFirstTime = false;
                    }.bind(this));
                },
                getProductList: function () {
                    $.post('@UrlVar.Product_List').done(function (result, status) {
                        this.productList = result;
                    }.bind(this));
                },
                showAdd: function () {
                    this.frm.Id = 0;
                    this.frm.ProductId = 0;
                    this.frm.ProductName = '';
                    this.frm.Price = '';
                    this.frm.PriceType = 0;
                    this.frm.Remark = '';
                    this.showPanel('添加价格', "#savePriceAddModal");
                },
                showEdit: function (item) {
                    this.frm.Id = item.Id;
                    this.frm.ProductId = item.ProductId;
                    this.frm.ProductName = item.ProductName;
                    this.frm.Price = item.Price;
                    this.frm.PriceType = item.PriceType;
                    this.frm.Remark = item.Remark;
                    this.showPanel('编辑价格', "#savePriceModal");
                },
                savePrice: function (event) {
                    var url = this.frm.Id > 0 ? '@UrlVar.Price_Edit' : '@UrlVar.Price_New';
                    $.post(url, this.frm).always(function (result, status) {
                        this.IsDisabled = false;
                        if (result.code == 1) {
                            this.hidePanel("#savePriceModal");
                            this.hidePanel("#savePriceAddModal");
                            this.getData();
                        }
                        else {
                            this.showAlert(result.msg);
                        }
                    }.bind(this));
                },
                showDelete: function (item) {
                    this.currentItem = item;
                    this.msg = "您确定要删除 [" + item.ProductName + "-" + (item.PriceType==1?'出售':'收购') + + "]的价格吗?";
                    this.showPanel("#priceDeleteModal");
                },
                deleteItem: function () {
                    $.post('@UrlVar.Price_Delete', { priceId: this.currentItem.Id }).always(function (result, status) {
                        this.hidePanel("#priceDeleteModal");
                        if (result.code == 1) {
                            this.getData();
                        }
                        else {
                            this.showAlert(result.msg);
                        }
                    }.bind(this));
                }
            },
            computed: {
                isPriceValid: function () {
                    return (/^\d+(.\d{1,4})?$/g).test(this.frm.Price) && this.frm.Price > 0;
                },
                isRemarkValid: function () {
                    return (/^.{0,200}$/g).test(this.frm.Remark);
                }
            },
            created: function () {
                this.getData();
                this.getProductList();
            }
        })
    })
</script>