@using GrainManage.Web.Resources
<script type="text/javascript">
    $(document).ready(function () {
        var data = { pageIndex: 0, pageSize: 100 };
        BindAutoComplete("/Type/GetGrainType", "#GetGrainType", data, true);
        BindAutoComplete("/Type/GetPriceType", "#GetPriceType", data, true);

        $("#search").click(function (event) {
            var GrainType = $("#GetGrainType").val();
            var PriceType = $("#GetPriceType").val();
            var StartTime = $("#StartTime").val();
            var EndTime = $("#EndTime").val();
            var pageSize = GetPageSize();
            BindMyPaginationClick("#result", "/Price/GetPrice", {
                Grain: GrainType, PriceType: PriceType, StartTime: StartTime, EndTime: EndTime,
                pageIndex: 0, pageSize: pageSize
            });
        });

        $("#search").triggerHandler("click");
    });
</script>
<div id="searchPrice" class="searchCondition">
    <label>@PriceResx.Grain</label>
    <input id="GetGrainType" type="text" />

    <label>@PriceResx.PriceType</label>
    <input id="GetPriceType" type="text" />

    @ControlHelper.DateRange()
    @ControlHelper.PageSize()
    <button id="search">@PriceResx.SearchPrice</button>
</div>
<div id="result"></div>
<div id="pagination">
    @Html.Partial(GrainManage.Web.Constant.PaginationView)
</div>
