@using GrainManage.Web.Common
@using GrainManage.Web
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@GlobalResx.SysName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/vue.js"></script>
    <script src="~/js/Crypto/base64.js"></script>
    <script src="~/js/Crypto/sha1.js"></script>
    <script src="~/js/components/modal-dialog.js"></script>
</head>
<body style="padding-top: 40px; padding-bottom: 40px;background-color:#eee">
    <div class="container" id="app">
        <form style="max-width: 330px; padding: 15px; margin: auto auto;" role="form">
            <h2 style="text-align:center;font-weight:bold;margin-bottom:10px;">
                <span class="glyphicon glyphicon-grain"></span>
                <span>@GlobalResx.SysName</span>
                <span class="glyphicon glyphicon-grain"></span>
            </h2>
            <input id="UserName" v-model="UserName" type="text" class="form-control input-lg" placeholder="用户名" style="margin-top:20px;" autofocus
                   data-toggle="popover" data-placement="bottom" data-content="用户名不能为空,且只能为手机号码或由2-20个英文字母、下划线及数字组成">
            <input id="Pwd" v-model="Pwd" type="password" class="form-control input-lg" placeholder="密码" style="margin-top:20px;"
                   data-toggle="popover" data-placement="top" data-content="密码不能为空,且只能由2-20个字符组成">
            <div class="checkbox">
                <label>
                    <input v-model="RememberMe" type="checkbox">
                    <span>记住选择</span>
                </label>
                <a href="@UrlVar.User_SignUp" style="float:right">注册</a>
                <span style="float:right;">&nbsp;&nbsp;</span>
                <a href="@UrlVar.User_ForgetPwd" style="float:right">忘记密码</a>
            </div>
            <button v-on:click.stop.prevent="loginOn" v-bind:disabled="IsDisabled" class="btn btn-lg btn-primary btn-block">登录</button>
        </form>
        <modal-dialog title="登录提示" v-bind:msg="msg"></modal-dialog>
    </div>
    <div role="row" style="width:100%; padding: 15px; margin: 0 auto;position:fixed;bottom:2px;text-align:center;">
        <span style="color:blue;">有疑问请拨打：17625907215</span>
    </div>
    <script>
        $(function () {
            new Vue({
                el: '#app',
                data: {
                    UserName: '',
                    Pwd: '',
                    RememberMe: localStorage.RememberMe,
                    IsDisabled: false,
                    msg: ''
                },
                methods: {
                    loginOn: function (event) {
                        if (!this.isUserNameValid) {
                            $("#UserName").popover('show');
                        }
                        else if (!this.isPwdValid) {
                            $("#Pwd").popover('show');
                        }
                        else {
                            this.IsDisabled = true;
                            var returnUrl = '';
                            var arrays = window.location.href.split('?');
                            if (arrays.length > 1 && arrays[1]) {
                                returnUrl =  arrays[1];
                            }
                            $.post('@UrlVar.User_SignIn'+'?' + returnUrl, { UserName: this.UserName, Pwd: new sha1().encrypt(this.Pwd) }).always(function (result, status) {
                                if (result.code == 1) {
                                    this.changeRemember();
                                    window.location.href = returnUrl ? returnUrl.split('=')[1] : '@UrlVar.Home_Index';
                                }
                                else {
                                    this.IsDisabled = false;
                                    this.msg = result.msg;
                                    $("#myModal").modal({ backdrop: 'static' });
                                }
                            }.bind(this));
                        }
                    },
                    changeRemember: function () {
                        if (this.RememberMe) {
                            var base = new base64();
                            localStorage.UserName = base.encode(this.UserName);
                            localStorage.Pwd = base.encode(this.Pwd);
                            localStorage.RememberMe = this.RememberMe;
                        }
                        else {
                            localStorage.removeItem("UserName");
                            localStorage.removeItem("Pwd");
                            localStorage.removeItem("RememberMe");
                        }
                    }
                },
                computed: {
                    isUserNameValid: function () {
                        return ((/^\w{2,20}$/g).test(this.UserName) && !(/^\d+$/g).test(this.UserName)) || (/^1[34578]\d{9}$/g).test(this.UserName);
                    },
                    isPwdValid: function () {
                        return (/^.{2,20}$/g).test(this.Pwd);
                    }
                },
                created: function () {
                    var base = new base64();
                    this.UserName = localStorage.UserName ? base.decode(localStorage.UserName) : '';
                    this.Pwd = localStorage.Pwd ? base.decode(localStorage.Pwd) : '';
                }
            })
            $("html").click(function () { $('[data-toggle="popover"]').popover('hide') });
        })
    </script>
</body>
</html>
