@using GrainManage.Web
@{
    ViewBag.Title = "购销明细";
}
<script src="~/js/common-tool.js"></script>
<div class="container" id="tradeInfo">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-pane fade in active">
                <div class="form-inline" role="form">
                    <div class="form-group" style="margin-right:6px;">
                        <input type="text" class="form-control" v-model="search.ContactName" placeholder="请输入客户姓名" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <input type="text" class="form-control" v-model="search.ProductName" placeholder="请输入粮食名称" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label visible-xs col-xs-6">开始时间：</label>
                        <input type="date" class="form-control" style="width:auto" id="StartTime" placeholder="请选择开始时间" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <label class="control-label visible-xs col-xs-6">终止时间：</label>
                        <input type="date" class="form-control" style="width:auto" id="EndTime" placeholder="请选择终止时间" />
                    </div>
                    <div class="form-group" style="margin-right:6px;">
                        <select v-model="search.TradeType" class="form-control">
                            <option value="null">请选择交易类型</option>
                            <option value="0">收购</option>
                            <option value="1">出售</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-block" v-on:click="getData(search.PageIndex=0)">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <caption style="color:red;font-weight:bolder;">
                        @if (UrlVar.Has(Model.Level, UrlVar.Trade_New, Model.Urls))
                        {
                            <button type="button" v-if="productList&&productList.length>0" class="btn btn-success btn-sm" v-on:click="showAdd" v-cloak><span class="glyphicon glyphicon-plus"></span> 添加新交易</button>
                        }
                    </caption>
                    <thead>
                        <tr>
                            <th>操作</th>
                            @if (Model.Level >= GlobalVar.AdminLevel)
                            {
                                <th>店铺名称</th>
                            }
                            <th>客户姓名</th>
                            <th>总金额</th>
                            <th>已付款</th>
                            <th>交易详情</th>
                            <th>交易时间</th>
                        </tr>
                    </thead>
                    <tbody v-cloak>
                        <tr v-for="item in list" :key="item.Id">
                            <td>
                                @if (UrlVar.Has(Model.Level, UrlVar.Trade_Edit, Model.Urls))
                                {
                                    <a style="cursor:pointer;" v-if="item.CanModify" v-on:click.stop="showEdit(item)">编辑</a>
                                }
                                <a>&nbsp;</a>
                                @if (UrlVar.Has(Model.Level, UrlVar.Trade_Delete, Model.Urls))
                                {
                                    <a style="cursor:pointer;" v-if="item.CanModify" v-on:click.stop="showDelete(item)">删除</a>
                                }
                            </td>
                            @if (Model.Level >= GlobalVar.AdminLevel)
                            {
                                <td>{{item.CompName}}</td>
                            }
                            <td>
                                <span v-if="item.ContactId>0">{{item.ContactName}}</span>
                                <span v-else style="color:red;" title="该用户不存在">{{item.ContactName}}</span>
                                <br /> <br />
                                <span style="color:blue;">[{{item.TradeType==1?'出售':'收购'}}]</span>
                                <br /> <br />
                                <span>{{item.Remark}}</span>
                            </td>
                            <td>{{toFixed(getTotalMoney(item.Details))}}</td>
                            <td>
                                <span>{{toFixed(item.PaidMoney)}}</span>
                                <br /><br />
                                <span v-if="(item.PaidMoney-getTotalMoney(item.Details))>=0" style="color:green;">
                                    [{{getStatus(item.PaidMoney-getTotalMoney(item.Details))}}]
                                </span>
                                <span style="color:red;" v-else>
                                    [{{getStatus(item.PaidMoney-getTotalMoney(item.Details))}}]
                                </span>
                            </td>
                            <td>
                                <table class="table table-bordered table-striped" style="margin:0">
                                    <thead>
                                        <tr>
                                            <th>类别</th>
                                            <th>毛重</th>
                                            <th>皮重</th>
                                            <th>价格</th>
                                            <th>净重</th>
                                            <th>金额</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item2,index) in item.Details">
                                            <td>{{item2.ProductName}}</td>
                                            <td>{{item2.RoughWeight}}</td>
                                            <td>{{item2.Tare}}</td>
                                            <td>{{item2.Price}}</td>
                                            <td>{{toFixed(item2.RoughWeight-item2.Tare)}}</td>
                                            <td>{{toFixed((item2.RoughWeight-item2.Tare)*item2.Price)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <span>{{item.CreatedAt|formatTime}}</span>
                                <br /><br />
                                <span>{{item.Creator}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <pager v-on:reload="getData" v-bind:total="total" v-bind:page-index.sync="search.PageIndex" v-bind:page-size.sync="search.PageSize"></pager>
        </div>
    </div>
    <div v-cloak>
        @Html.Partial("_TradeDetail")
        @Html.Partial("_ContactList")
        @Html.Partial("_DeleteModal", "删除交易")
        <modal-dialog v-bind:title="AlertTitle" v-bind:msg="msg"></modal-dialog>
    </div>
</div>
<script>
    $(function () {
        new Vue({
            el: "#tradeInfo",
            data: {
                msg: '',
                total: 0,
                list: [],
                productList: [],
                contactList: [],
                contactTotal:0,
                search: { ContactName: '', ProductName: '', TradeType: null, PageIndex: 0, PageSize: 10 },
                contactSearch: { Name: '', Mobile: '', Address: '', PageIndex: 0, PageSize: 10 },
                frmTrade: {
                    Id:0,
                    ContactId: 0,
                    ContactName:'',
                    TradeType: 0,
                    PaidMoney:0,
                    Details:[],
                    Remark:''
                },
                IsDisabled: false,
                AlertTitle: '',
                PanelTitle: '',
                currentItem: {},
                currentContact: {},
                isFirstTime:true
            },
            methods: {
                getData: function () {
                    this.search.StartTime = $("#StartTime").val();
                    this.search.EndTime = $("#EndTime").val();
                    $.post('@UrlVar.Trade_Index', this.search).done(function (result, status) {
                        this.list = result.data;
                        this.total = result.total;
                        if (result.code != 1 && !this.isFirstTime) {
                            this.showAlert(result.msg);
                        }
                        this.isFirstTime = false;
                    }.bind(this));
                },
                getContactList: function () {
                    $.post('@UrlVar.Contact_GetList', this.contactSearch).done(function (result, status) {
                          this.contactList = result.data;
                          this.contactTotal = result.total;
                    }.bind(this));
                },
                getProductList: function () {
                    $.post('@UrlVar.Product_List').done(function (result, status) {
                        this.productList = result;
                    }.bind(this));
                },
                save: function () {
                    this.IsDisabled = true;
                    if (this.isPaidMoneyValid) {
                        var url = this.frmTrade.Id > 0 ? '@UrlVar.Trade_Edit' : '@UrlVar.Trade_New';
                        $.post(url, this.frmTrade).always(function (result, status) {
                          this.IsDisabled = false;
                          if (result.code == 1) {
                             this.getData();
                             this.hidePanel("#saveTradeModal");
                          }
                          else {
                            this.showAlert(result.msg);
                          }
                        }.bind(this));
                    } else {
                        alert('有参数不正确，请重新检查');
                        this.IsDisabled = false;
                    }

                },
                setPrice: function (detail, productId) {
                    if (!productId) {
                        return;
                    }
                    for (var i = 0; i < detail.ProductList.length; i++) {
                        if (detail.ProductList[i].Id == productId) {
                            var existedItem = detail.ProductList[i];
                            detail.ProductId = productId;
                            detail.ProductName = existedItem.Name;
                            detail.Price = existedItem.Price;
                            break;
                        }
                    }
                },
                showAdd: function () {
                    this.frmTrade.Id = 0;
                    this.frmTrade.TradeType = 0;
                    this.frmTrade.ContactId = 0;
                    this.frmTrade.ContactName ='';
                    this.frmTrade.PaidMoney = '';
                    this.frmTrade.Remark = '';
                    this.frmTrade.Details = [];
                    this.addNewDetailForm();
                    this.showPanel("新增交易","#saveTradeModal");
                },
                showEdit: function (item) {
                    this.frmTrade.Id = item.Id;
                    this.frmTrade.TradeType = item.TradeType;
                    this.frmTrade.ContactId = item.ContactId;
                    this.frmTrade.ContactName = item.ContactName;
                    this.frmTrade.PaidMoney = item.PaidMoney;
                    this.frmTrade.Remark = item.Remark;
                    this.frmTrade.Details = this.copyDetails(item.Details);
                    this.showPanel("编辑交易","#saveTradeModal");
                },
                showDelete: function (item) {
                    this.currentItem = item;
                    this.msg = "您确定要删除与 [" + item.ContactName + "] 的交易记录吗?";
                    this.showPanel("#deleteDialog");
                },
                deleteItem: function () {
                    $.post('@UrlVar.Trade_Delete', { tradeId: this.currentItem.Id }).always(function (result, status) {
                        this.hidePanel('#deleteDialog');
                        if (result.code == 1) {
                            this.getData();
                        }
                        else {
                            this.showAlert(result.msg);
                        }
                    }.bind(this));
                },
                addNewDetailForm: function () {
                    var productId = this.productList[0].Id;
                    var newDetail = { ProductId: 0, ProductName: '', Price: 0, RoughWeight: '', Tare: '', PaidMoney: 0, ProductList: [], Remark: '' };
                    newDetail.ProductList = this.copyProducts(this.productList);
                    this.frmTrade.PaidMoney = '';
                    if (this.frmTrade.Id > 0) {
                        var newDetails = this.copyDetails(this.frmTrade.Details);
                        newDetails.push(newDetail);
                        this.frmTrade.Details = newDetails;
                    } else {
                        this.frmTrade.Details.push(newDetail);
                    }
                    this.setPrice(newDetail, productId);
                    if (window.screen.width>768) {
                        setTimeout(function () {
                            var div = document.getElementById("formDetail");
                            div.scrollTop = div.scrollHeight;
                        }, 100);
                    }
                },
                delDetailForm: function (index) {
                    if (this.frmTrade.Details.length > 1) {
                        this.frmTrade.Details.splice(index, 1);
                    }
                },
                copyDetails: function (details) {
                    var newDetails = [];
                    for (var i = 0; i < details.length; i++) {
                        var model = details[i];
                        var detail = {};
                        detail.Id = model.Id;
                        detail.TradeId = model.TradeId;
                        detail.ProductId = model.ProductId;
                        detail.ProductName = model.ProductName;
                        detail.Price = model.Price;
                        detail.RoughWeight = model.RoughWeight;
                        detail.Tare = model.Tare;
                        detail.Remark = model.Remark;
                        detail.ProductList = this.copyProducts(this.productList);
                        newDetails.push(detail);
                    }
                    return newDetails;
                },
                copyProducts: function (products) {
                    var newProducts = [];
                    for (var i = 0; i < products.length; i++) {
                        var model = products[i];
                        var product = {};
                        product.Id = model.Id;
                        product.Name = model.Name;
                        product.Price = model.Price;
                        newProducts.push(product);
                    }
                    return newProducts;
                },
                showContact: function () {
                    this.getContactList();
                    this.showPanel("#chooseContactModal");
                },
                getTotalMoney: function (detailList) {
                    var total = 0;
                    if (detailList && detailList.length > 0) {
                        for (var i = 0; i < detailList.length; i++) {
                            var detail = detailList[i];
                            total += (detail.RoughWeight - detail.Tare) * detail.Price;
                        }
                    }
                    return total;
                },
                getStatus: function (money) {
                    return money >= 0 || (money<0&& Math.abs(money) < 0.1) ? '已付清' : '下欠：' + this.toFixed(money * -1);
                }
            },
            computed: {
                isContactNameValid: function () {
                    return (/^[\u4E00-\u9FA5\uF900-\uFA2D]{2,4}$/g).test(this.frmTrade.ContactName);
                },
                isRemarkValid: function () {
                    return (/^.{0,200}$/g).test(this.frmTrade.Remark);
                },
                isPaidMoneyValid: function () {
                    var isValid = this.frmTrade.PaidMoney != '' && parseFloat(this.frmTrade.PaidMoney) >= 0 && this.frmTrade.Details && this.frmTrade.Details.length>0;
                    if (isValid) {
                        for (var i = 0; i < this.frmTrade.Details.length; i++) {
                            var current = this.frmTrade.Details[i];
                            if (current.Price==''||
                                current.Price < 0 ||
                                current.RoughWeight==''||
                                current.RoughWeight < 0 ||
                                current.Tare==''||
                                current.Tare < 0 ||
                                current.Tare > current.RoughWeight) {
                                isValid = false;
                                break;
                            }
                        }
                    }
                    return isValid;
                },
                totalMoney: function () {
                    var money = 0;
                    for (var i = 0; i < this.frmTrade.Details.length; i++) {
                        var detail = this.frmTrade.Details[i];
                        money += (detail.RoughWeight - detail.Tare) * detail.Price;
                    }
                    return money;
                }
            },
            created: function () {
                this.getData();
                this.getProductList();
                this.$watch('currentContact', function (newVal, oldVal) {
                    this.frmTrade.ContactId = newVal.Id;
                    this.frmTrade.ContactName = newVal.ContactName;
                });
            }
        })
        $('#chooseContactModal').on('hidden.bs.modal', function () {
            document.getElementsByTagName('body')[0].className = 'modal-open';
        });
        if (window.screen.width > 768) {
            var div = document.getElementById("formDetail");
            div.style = 'box-sizing:border-box;max-height:326px;overflow-y:auto;';
        }
    })
</script>
