@using GrainManage.Web.Resources
@model GrainManage.Web.Models.Account.ChangePasswordModel
<div>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "formChangePassword" }))
    {
        @Html.AntiForgeryToken()       
        <div class="data">
            <ul>
                <li class="username">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { maxlength = 20 })
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li class="oldPassword">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </li>
                <li class="newpassword">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </li>
            </ul>
            @Html.HiddenFor(m => m.EncryptFlag)
        </div>

        <div class="actions">
            <input id="submit" type="submit" value="@AccountResx.ResetPassword"/>
        </div>
    }
</div>
