@using GrainManage.Web.Resources
@model GrainManage.Web.Models.Account.ResetPasswordModel
<div>
   @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "formResetPassword" }))
    {
        @Html.AntiForgeryToken()       
        <div class="data">
            <ul>
                <li class="username">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { maxlength = 20 })
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li class="email">
                    @Html.LabelFor(m => m.EmailAddress)
                    @Html.PasswordFor(m => m.EmailAddress)
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                </li>
            </ul>
        </div>

        <div class="actions">
            <input id="submit" type="submit" value="@AccountResx.ResetPassword"/>
        </div>
    }
</div>
